.faq91faq8 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.faq91-max-width {
  align-self: center;
}
 
.faq91-section-title {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.faq91-content {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.faq91-list {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.faq91-faq1 {
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
}
 
.faq91-trigger1 {
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.faq91-faq1-question {
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
 
.faq91-icons-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.faq91-icon10 {
  width: 24px;
  height: 24px;
}
 
.faq91-icon12 {
  width: 24px;
  height: 24px;
}
 
.faq91-container12 {
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.faq91-faq2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
}
 
.faq91-trigger2 {
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.faq91-faq2-question1 {
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
 
.faq91-icons-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.faq91-icon14 {
  width: 24px;
  height: 24px;
}
 
.faq91-icon16 {
  width: 24px;
  height: 24px;
}
 
.faq91-container15 {
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.faq91-faq3 {
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
}
 
.faq91-trigger3 {
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.faq91-faq2-question2 {
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
 
.faq91-icons-container3 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.faq91-icon18 {
  width: 24px;
  height: 24px;
}
 
.faq91-icon20 {
  width: 24px;
  height: 24px;
}
 
.faq91-container18 {
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.faq91-faq4 {
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
}
 
.faq91-trigger4 {
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.faq91-faq2-question3 {
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
 
.faq91-icons-container4 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.faq91-icon22 {
  width: 24px;
  height: 24px;
}
 
.faq91-icon24 {
  width: 24px;
  height: 24px;
}
 
.faq91-container21 {
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.faq91-fragment1 {
  display: contents;
}
 
.faq91-text20 {
  display: inline-block;
}
 
.faq91-fragment2 {
  display: contents;
}
 
.faq91-text21 {
  display: inline-block;
}
 
.faq91-fragment3 {
  display: contents;
}
 
.faq91-text22 {
  display: inline-block;
}
 
.faq91-fragment4 {
  display: contents;
}
 
.faq91-text23 {
  display: inline-block;
}
 
.faq91-fragment5 {
  display: contents;
}
 
.faq91-text24 {
  display: inline-block;
}
 
.faq91-fragment6 {
  display: contents;
}
 
.faq91-text25 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .faq91-max-width {
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .faq91-content {
    width: 100%;
    overflow: hidden;
  }
}
